/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 14px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}


.wrapper {
    min-height: 100%;
    opacity: 0;
    transition:opacity 0.8s;
}
.wrapper._loaded {
    opacity: 1;
}

.wrapper._loaded .header{
    transform: translate(0 , 0%);
    transition: transform 0.8s ease 0.8s;
}

.wrapper._loaded .page__pagination{
    transform: translate(0, -50%);
    opacity: 1;
    visibility: visible;
    transition: transform 0.6s ease 0.8s;
}
.wrapper._free .page__pagination {
    transition: all 0.3s ease 0;
    transform: translate(50px , -50%);
    opacity: 0;
}




.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 40px;
    z-index: 50;
    background-color: transparent;
    transform: translate(0 , -100%);
    display: flex;
    justify-content: space-between;
}

.header__logo {
   overflow: hidden;
    transition: 0.5s;
}
.header__logo img{
    max-height: 50px;
    transition: 0.5s;
 }
 .header__logo:hover  img{
    max-height: 50px;
    animation: ska 3s infinite linear alternate;
 }

 @keyframes ska {
0%{transform: scale(1, 1);}
50%{transform: scale(-1, 1);}
 100%{transform: scale(1, 1);}
 }


.menu {
    display: flex;
    min-height: 50px;
    align-items: center;
}
.header__link {
    color: white;
    font-size: 20px;
    transition: 0.3s;
    margin-right: 20px;
    text-decoration: none;
}
.header__link:hover {
    color: rgb(244, 140, 140);
}
.header__link._active {
    color: red;
}
@media (max-width: 767px){
    .header__link {
        font-size: 12px;
        margin-right: 10px;
    }
}


.page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.page__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.page__screen {
overflow: hidden;
}
/* !Cтилизация кастомных классов */
.page__pagination {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    right: 30px;
    flex-direction: column;
    transform: translate(50px, -50%);
    opacity: 0;
    visibility: hidden;
}
.page__bullet{
    width: 5px;
    height: 20px;
    cursor: pointer;
    background-color: rgba(93, 92, 92, 0.8);
    margin: 10px 0;
    transition: background-color 0.3s;
}
.page__bullet_active{
    background-color: red;
}
.page__scroll{
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgb(1, 0, 0, 0.3);
}
.page__drag-scroll{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: rgba(239, 10, 10, 0.6);
}










.screen {
    flex: 1 0 100%;
    position: relative;
}
.screen__content {
    padding: 150px 20px 20px 20px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
.screen__title {
    font-family: 'Bebas Neue';
    font-size: 210px;
    font-weight: 100;
    line-height: 0.9;
    padding-right: 50px;
    letter-spacing: 5px;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
    background-image: linear-gradient(237.0deg, rgba(255,0,0,0.4) 33%, #ff0000 66%);
    text-transform: uppercase;
}

.first {
    position: relative;
    z-index: 8;
}


.screen__title_bg {
    background-color: rgba(4, 4, 4, 0.5);
    padding: 15px;
}

.screen__text {
    font-family: Montserrat;
font-size: 14px;
line-height: 16px;
font-weight: 400;
color: #ffffff;
padding-left: 100px;
padding-right: 70px;
}
.screen__subtitle {
    margin-top: 50px;
    font-family: 'Bebas Neue';
    font-size: 40px;
    font-weight: 100;
    color: #ffffff;
    padding: 0px 40px;
    letter-spacing: 1px;
    background-color: red;
    display: inline-block;
    margin-right: 20px;
transform: matrix(1, 0 , -0.2, 1, 0, 0);
text-transform: uppercase;
}

.screen__subtitle em {
transform: matrix(1, 0 , 0.2, 1, 0, 0);
display: inline-block;
}








.screen__body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.screen__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.screen__image img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}



@media (max-width: 767px){
    .screen__title {
        font-size: 40px;
    }
    .screen__text {
        font-size: 16px;
    }
}




.screen__colomn_2 {
    flex: 0 0 50%;
    text-align: right;
    padding: 0px 50px 0px 0px;
    position: relative;
}

.language {
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: -150px;
    right: 0px;
}
.lang__en ,
.lang__ru {
    font-size: 20px;
padding: 30px;
background-color: #242424;
cursor: pointer;
text-decoration: none;
color: rgb(250, 250, 250);
transition: 0.4s;
}
.lang__en:hover,.lang__ru:hover{background-color: #4b1212;}
.lang__en.active ,
.lang__ru.active {
    background-color: #9b0707;
}



.screen__colomn_1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  
}









.screen__social {
   position: relative;
   bottom: -120px;
}
.social__link {
    margin-right: 10px;
}
.social__link img{
  width: 25px;
}
.social__link img:hover{
   opacity: 0.3;
  }


/* ****************************************************************************/

.screen__colomn_1__img {
    position: absolute;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    
   
}

.screen__colomn_1__img::before {
    content: '';
    position: absolute;
    width: 360px;
    height: 360px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    border: 1px solid red;
  }
  .screen__colomn_1__img::after{
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0px 0px 1000px red;
  }


.screen__colomn_1__img img{
    object-fit: cover;
    position: absolute;
    top: -20px;
    left: 40px;
    height: 640px;
    z-index: 3;
}

@media (max-width: 1300px){
    .screen__content {
        padding: 270px 20px 20px 20px;
    }
    .first {
        font-size: 150px;
    } 
    .screen__title{
        font-size: 150px;
        padding-right: 20px;
    }
    .screen__subtitle {
        margin-right: 0px;
    }
    .screen__text {
    padding-left: 50px;
    padding-right: 30px;
    }  
.screen__social {
    position: absolute;
    z-index: 10;
    bottom: -120px;
 }
 .social__link {
     margin-bottom: 10px;
     margin-right: 0;
     display: block;
 }
}
@media (max-width: 1000px){
    .screen__colomn_1__img img{
        top: 33%;
        left: 130px;
        height: 400px;
    }
    .screen__content {
        padding: 60px 20px 20px 20px;
    }
    .screen__title{
        font-size: 120px;
        padding-right: 10px;
    }
    .screen__subtitle {
        margin-right: 0px;
        font-size:30px;
        padding: 0px 20px;
    }
    .screen__text {
    padding-left: 90px;
    padding-right: 20px;
    }
    .social__link img{
        width: 30px;
      }
      .screen__social {
        position: absolute;
        z-index: 10;
        bottom: -140px;
     }
}
@media (max-width: 700px){
    .screen__title{
       text-shadow: 1px 1px 100px black;
    }
    .screen__colomn_1__img {
        opacity: 0.3;
        position: absolute;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        top: 40%;
        left: 30%;
        transform: translate(-50%, -50%);
        z-index: 2;
        border-radius: 50%;
        border: 1px solid red;
        box-shadow: 0px 300px 3000px red;
    }
    .language {
        bottom: -100px;
        right: 50px; 
    }
    .screen__text {
        margin-top: 50px;
        font-size: 20px;
    }
    .social__link img{
        width: 40px;
      }
      .screen__title{
        font-size: 100px;
        padding-right: 10px;
    }
    .page__pagination {
        right: 15px;
    }
    .header__logo img{
       position: absolute;
       opacity: 0.3;
       left: 50%;
       transform: translate(-50%, 0);
       max-height: 30px;
       top: 5px;
     }
     .screen__colomn_1__img img{
        object-fit: cover;
        position: absolute;
        top: 40px;
        left: 50px;
        height: 550px;
        z-index: 3;
        visibility: hidden;
    }
}
@media (min-width: 1400px){
    .screen__colomn_1__img img{
        top: -30px;
        left: 50px;
        height: 700px;
    }
}
@media (min-width: 1900px){
    .screen__colomn_1__img img{
        top: -230px;
        left: -30px;
        height: 1000px;
    }
    .language {
        display: flex;
        justify-content: right;
        align-items: center;
        position: absolute;
        width: 100%;
        bottom: -150px;
        right: 50px;
    }
}





/* ******************************************************************** */

.screen__colomn_2__img img{
    max-width: 100%;
    width: 565px;
  position: fixed;
    top: 40px;
    left: 40%;
    z-index: 2;
    transform: translate( -50%, 0);
}

.yellow__subtitle {
    background-color: orange;
}

.yellow__title {
    font-family: 'Bebas Neue';
    font-size: 210px;
    font-weight: 100;
    line-height: 0.9;
    padding-right: 50px;
    letter-spacing: 5px;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
    background-image: linear-gradient(237.0deg, rgba(250, 220, 51, 0.4) 33%, orange 66%);
}


.webhref {
    position: relative;
    bottom: -100px;
}
.web__link {
    color: orange;
    text-decoration: none;
    font-size: 18px;
    transition: 0.4s;
}
.web__link:hover {
    color: orangered;
}
.web__link:first-child {
   margin-right:25px;
   position: relative;
}
.web__link:first-child::after {
    content: '';
position: absolute;
top: 0;
right: -15px;
width: 2px;
height: 25px;
background-color: orange;
 }

.screen__column_or {
 position: absolute;
 border-radius: 50%;
 border: 1px solid orange;
 width: 500px;
 height: 500px;
 top: 30px;
 left: 30px;
 }

 .screen__column_or::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 50%;
     width: 400px;
     height: 400px;
    background-color: orange;
    box-shadow: 0px 0px 50px orange;
  }
  .screen__column_or::after{
    content: '';
    position: absolute;
    top: 30px;
    left: 30px;
     border-radius: 50%;
     width: 440px;
     height: 440px;
   border: 1px solid orange;
    box-shadow: 0px 150px 200px orange;
  }


.screen__content .girl{
  max-width: 100%;
  height: 600px;
 position: absolute;
 top: 180px;
  left: 26%;
  z-index: 2;
  transform: translate( -50%, 0);
}




@media (max-width: 1300px){
    .screen__title{
        font-size: 150px;
        padding-right: 20px;
    }
    .screen__subtitle {
        margin-right: 0px;
    }
    .screen__text {
    padding-left: 50px;
    padding-right: 30px;
    }
    .screen__column_or {
        top: -100px;
        left: 0px;
    }
}
@media (max-width: 1000px){
    .screen__content {
        padding: 60px 20px 20px 20px;
    }
    .screen__title{
        font-size: 120px;
        padding-right: 10px;
    }
    .screen__subtitle {
        margin-right: 0px;
        font-size:30px;
        padding: 0px 20px;
    }
    .screen__text {
    padding-left: 90px;
    padding-right: 20px;
    }
    .screen__column_or {
        top: 0px;
        left: 0px;
        opacity: 0.3;
    }
    .screen__content .girl{
        max-width: 100%;
        height: 600px;
       position: absolute;
       top: 100px;
        left: 20%;
        z-index: 2;
        transform: translate( -50%, 0);
    }
    .web__link:first-child::after {
        content: none;
     }
}
@media (max-width: 700px){
    .screen__content .girl{
        max-width: 100%;
        height: 600px;
       position: absolute;
       top: 200px;
        left: 24%;
        z-index: 2;
        opacity: 1;
        transform: translate( -50%, 0);
    }
    .screen__text {
        margin-top: 50px;
        font-size: 20px;
        position: relative;
        z-index: 5;  
    }
      .screen__title{
        font-size: 100px;
        padding-right: 10px;
        position: relative;
        z-index: 4;
    }
    .webhref {
        position: relative;
        bottom: -100px;
    }
}
@media (min-width: 1400px){
    .screen__content .girl{
        height: 800px;
       top: 140px;
        z-index: 2;
        transform: translate( -50%, 0);
    }
}
@media (min-width: 1900px){
    .screen__content .girl{
        height: 1000px;
       top: 150px;
    }
    .webhref {
        position: relative;
        bottom: -500px;
    }
}




/* ********************************************************************* */


.screnn__blue__circle {
    position: absolute;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    border: 1px solid blue;
    box-shadow: 0px 300px 3000px blue;
}
.screnn__blue__circle::before {
    content: '';
    position: absolute;
    width: 360px;
    height: 360px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    border: 1px solid blue;
}
.screnn__blue__circle::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    background-color: blue;
    box-shadow: 0px 0px 1000px blue;
}

.screnn__blue__circle img {
    object-fit: cover;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 640px;
    z-index: 3;
}



.blue__content {
    padding: 150px 20px 20px 20px;
    position: relative;
    z-index:5;
    display: flex;
    align-items: center;
}
.blue__social {
 flex: 1 0 20%;
 position: relative;
 margin-top: 100px;
}
.blue__social::before,
.blue__social::after {
    content: '';
    width: 3px;
    height: 150px;
    background-color: blue;
  position: absolute;
  left: 10px;
}
.blue__social::before {
    top: -160px;
}
.social__link_b {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
}




.blue__body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    right: 15%;
}

.blue__subtitle {
    background-color: blue;
}
.blue__title {
    background-image: linear-gradient(237.0deg, rgba(0,102,255,0.4) 40%, #0078ff 59%);
}
.blue__text {
  text-align: right;
  max-width: 600px;
  position: relative;
  right: -150px;
  top: 100px;
}

@media (max-width: 1300px){
    .screen__title{
        font-size: 150px;
        padding-right: 20px;
    }
    .screen__subtitle {
        margin-right: 0px;
    }
    .screen__text {
    padding-left: 50px;
    padding-right: 30px;
    }
}
@media (max-width: 1000px){
    .screen__title{
        font-size: 120px;
        padding-right: 10px;
    }
    .screen__subtitle {
        margin-right: 0px;
        font-size:30px;
        padding: 0px 20px;
    }
    .screen__text {
    padding-left: 90px;
    padding-right: 20px;
    }
    .screnn__blue__circle img {
        height: 500px; 
    }
    .blue__text {
        text-align: right;
        max-width: 600px;
        position: relative;
        right: -50px;
        top: 100px;
    }
}
@media (max-width: 700px){
    .screen__text {
        margin-top: 0px;
        font-size: 20px;
        position: relative;
        z-index: 5;  
    }
      .screen__title{
        font-size: 100px;
        padding-right: 10px;
    }
    .screnn__blue__circle {
        position: absolute;
        width: 450px;
        height: 450px;
        margin: 0 auto;
        top: 50%;
        opacity: 0.3;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        border-radius: 50%;
        border: 1px solid blue;
        box-shadow: 0px 300px 3000px blue;
    }
    .blue__title {
        font-size: 60px;
        margin-left: 50px;
    }
    .blue__text {
        text-align: right;
        max-width: 600px;
        position: relative;
        right: 0px;
        top: 0px;
    }
}
@media (min-width: 1900px){
    .screnn__blue__circle img{
    height: 1000px;

    }
   
}


/* *********************************************************************** */

.fus__content {
    padding: 370px 20px 20px 20px;
   position: absolute;
    z-index:5;
    display: flex;
    align-items: center;
    color:  fuchsia;
}
.fus__body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.fus__body__top {
    display: flex;
    max-width: 860px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-end;
}
.fus__body__bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}





.screen__subtitle.fus_subtitle {
    background-color: fuchsia;
    color: #242424;
}
.fus__title {
    background-image: linear-gradient(237.0deg, rgba(255,0,192,0.4) 33%, #ff00c0 66%);
    letter-spacing: 1px;
}
.fus__text {
  flex: 0 1 50%;
  padding: 0;
 
}
.web__link_f {
    color: #ff00c0;
    margin-bottom: 40px;
}
.web__link_f:hover {
    color: #880366;
}
.web__link_f:first-child::after {
    content: none;
}












.screnn__fus__circle {
    position: absolute;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    border: 1px solid fuchsia;
    box-shadow: 0px 300px 3000px fuchsia;
}
.screnn__fus__circle::before {
    content: '';
    position: absolute;
    width: 360px;
    height: 360px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    border: 1px solid fuchsia;
}
.screnn__fus__circle::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    background-color: fuchsia;
    box-shadow: 0px 0px 1000px fuchsia;
}

.screnn__fus__circle img {
    object-fit: cover;
    position: absolute;
    top: -70px;
    left: 120px;
    height: 640px;
    z-index: 3;
}


@media (max-width: 900px){
    .fus__content {
        padding: 300px 20px 20px 20px;
    }
    .fus__body__top { 
        max-width: 600px;
        justify-content: space-around;
    }
    .fus__body__bottom {
        display: block;
        text-align: center;
    }
    .screnn__fus__circle {
        position: absolute;
        width: 450px;
        height: 450px;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        border-radius: 50%;
        border: 1px solid fuchsia;
        box-shadow: 0px 300px 3000px fuchsia;
        opacity: 0.8;
    }
}
@media (max-width: 700px){
    .fus__content {
        padding: 150px 20px 20px 20px;
    }
    .screnn__fus__circle img {
        object-fit: cover;
        position: absolute;
        height: 800px;
        z-index: 3;
    }
    .screnn__fus__circle {
        position: absolute;
        width: 450px;
        height: 450px;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        border-radius: 50%;
        border: 1px solid fuchsia;
        box-shadow: 0px 300px 3000px fuchsia;
        opacity: 0.5;
    }
    .fus__body__top {
        display: block;
        text-align: right;
    }
    .fus__body__bottom {
        display: block;
        text-align: left;
    }
    .fus__title{
        font-size: 60px;
        padding: 20px 0;
    }
    .screen__subtitle.fus_subtitle {
        background-color: fuchsia;
        color: #242424;
        margin-bottom: 30px;
        margin-top: 10px;
    }

}


@media (min-width: 1900px){
    .screnn__fus__circle img {
        object-fit: cover;
        position: absolute;
        top: -200px;
        left: 120px;
        height: 1000px;
        z-index: 3;
    }
    .fus__content {
        padding: 370px 20px 20px 20px;
       position: absolute;
        z-index:5;
        display: flex;
        align-items: center;
        color:  fuchsia;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}














.ru {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0px;
   font-size: 170px;
}

.ru__sub {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0px;
    font-weight: 100;
    font-size: 30px;
}
@media (max-width: 1300px){
    .ru{
        font-size: 150px;
        padding-right: 20px;
    }
    .ru__sub {
        margin-right: 0px;
    }
    .screen__text {
    padding-left: 50px;
    padding-right: 30px;
    }
}
@media (max-width: 1000px){
    .ru{
        font-size: 100px;
        padding-right: 10px;
    }
    .ru__sub {
        margin-right: 0px;
        font-size:30px;
        padding: 0px 20px;
    }
    .screen__text {
    padding-left: 90px;
    padding-right: 20px;
    }
}
@media (max-width: 700px){
    .screen__text {
        margin-top: 50px;
        font-size: 20px;
    }
      .ru{
        font-size: 70px;
        padding-right: 10px;
    }
.blue__title {
    font-size: 50px;
}
}

