/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
    box-sizing: border-box;
    outline: none;
}
a {text-decoration: none; color: inherit}
html,body{
	height: 100%;
	width: 100%;
    overflow: hidden;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    color: #BB8954;
}
.wrapper {
    min-height: 100%;
    opacity: 0;
    transition:opacity 0.8s;
}
.wrapper._loaded {opacity: 1;}
.wrapper._loaded .header{transform: translate(0 , 0%);transition: transform 0.8s ease 0.8s;}
.wrapper._loaded .page__pagination{
    transform: translate(0, -50%);
    opacity: 1;
    visibility: visible;
    transition: transform 0.6s ease 0.8s;
}
.wrapper._free .page__pagination {
    transition: all 0.3s ease 0;
    transform: translate(50px , -50%);
    opacity: 0;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px 40px;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0);
    transform: translate(0 , -100%);
    display: flex;
    justify-content: center;
    transition: all 0.5s;
}
.header.light {transition: all 0.5s;animation: header 1s forwards 300ms;}
.header.light .header__link {color: #653601;}
.header.light .header__link._active {color: #d57100;}

@keyframes header {
    0%{background-color: rgba(0, 0, 0, 0);}
    100%{background-color: rgba(255, 255, 255, 0.95);box-shadow: 0px 1px 1px 0px #e5e5e5;}
}


.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.header__link {
    color: inherit;
    font-size: 15px;
    transition: all 0.3s;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
}

.header__link._active {color: #efb784;}
.header__link:after {
    content: '/';
    position: absolute;
    right: -50px;
}
.header__link:last-child:after {content: none;}
@media (min-height: 1000px){  .header {padding: 40px;}  }
@media (max-width: 767px){
    .header {padding: 30px;}
}


.page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.page__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.page__screen {overflow: hidden;}

/* !Cтилизация кастомных классов */
.page__pagination {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    right: 30px;
    flex-direction: column;
    transform: translate(50px, -50%);
    opacity: 0;
    visibility: hidden;
}
.page__bullet{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #BB8954;
    margin: 10px 0;
    font-size: 20px;
    transition: background-color 0.3s;
}
.page__bullet_active{position: relative;}
.page__bullet_active:before{
    content: '';
    background-color: #BB8954;
    width: 20px;
    height: 1px;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translate(0, -50%);
}


.page__scroll{
    position: absolute;
    width: 7px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgb(1, 0, 0, 0.3);
}
.page__drag-scroll{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: #BB8954;
}

.screen {flex: 1 0 100%;position: relative;}
.rectangle_img, .mouse {position: absolute;}
.rectangle__top-1 {left: 2%;top: 2%; transform: rotate(-90deg)}
.rectangle__top-2 {right: 2%;top: 2%;}
.rectangle__bottom-1 {left: 2%; bottom: 2%; transform: rotate(180deg)}
.rectangle__bottom-2 {right: 2%; bottom: 2%; transform: rotate(90deg)}
.mouse {
    left: 50%;
    bottom: 8%;
    cursor: pointer;
    transform: translate(-50%, 0);
}

.mouse:after {
    content: '';
    width: 1px;
    position: absolute;
    height: 200px;
    left: 50%;
    bottom: -210px;
    cursor: pointer;
    transform: translate(-50%, 0);
    background-color: #BB8954;
}
.firstpage__container {
    position: absolute;
    left: 15%;
    top: 50%;
    text-transform: uppercase;
    color: white;
    max-width: 320px;
    padding: 10px;
    transform: translate(0, -50%);
    text-align: center;
}
.page__screen .bg {
    position: absolute;
    min-width: 100%;
    right: 0;
    height: 100%;
    object-fit: cover;
}
.company__desc {
    font-size: 23px;
    margin-bottom: 25px;
    letter-spacing: 3px;
}
.company__image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 15px;
}
.company__image p {position: relative}
.company__image p span {
    position: absolute;
    font-size: 10px;
    text-decoration: underline;
    top: 1px;
}
.firstpage__container h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 80px;
    letter-spacing: 2px;
}
.firstpage__container h1 span, .firstpage__container h1 p{
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 0px;
    letter-spacing: 0px;
}
.firstpage__container h1 span {font-weight: 300;}
.firstpage__container h2 {color: #BB8954;font-weight: 100;font-size: 17px;}
@media (max-width: 992px) {
    .page__screen .bg {width: 100%;object-position: 60% 60%;}
    .mouse {bottom: 15%;}
}
@media (max-width: 767px) {
    .page__screen .bg {width: 100%;object-position: 70% 60%;}
    .menu {gap: 15px;}
    .header__link {font-size: 14px; font-weight: 400; white-space: nowrap;}
    .rectangle_img {display: none}
    .header__link:after {right: -12px;}
    .firstpage__container {left: 1%; text-align: left}
    .company__desc {font-size: 13px;margin-bottom: 15px;}
    .company__image {font-size: 13px;justify-content: flex-start;}
    .company__image img{width: 50px;height: 55px;}
    .company__image p span {font-size: 8px;padding-right: 15px;}
    .firstpage__container h1 {font-size: 40px;margin-bottom: 50px;}
    .firstpage__container h1 span, .firstpage__container h1 p{font-size: 13px;line-height: 15px;}
    .firstpage__container h2 {font-size: 13px;}
    .page__pagination {display: none;}
}







.second__container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.catalog__item {max-width: 355px;text-align: center;}
.catalog__item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.catalog__item h2 {font-size: 20px;text-transform: uppercase;}
.catalog__item h3 {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 10px;
    font-weight: 100;
}
.catalog__item-desc {
    margin-top: 50px;
    max-width: 250px;
    padding: 20px;
    font-weight: 100;
    margin: 0 auto;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #d9d9d9;
    line-height: 15px;
}
@media (max-width: 1650px) {
    .catalog__item img:nth-child(1) {width: 260px;}
    .catalog__item img {margin-bottom: 0px;}
    .catalog__item-desc {margin-top: 10px;font-size: 12px;padding: 10px 20px;}
    .catalog__item h2 {font-size: 17px;text-transform: uppercase;}
}
@media (max-width: 1300px) {
    .catalog__item img:nth-child(1) {width: 140px; margin-bottom: 40px;}
    .second__container {gap: 10px}
    .catalog__item h2 {font-size: 12px;white-space: nowrap;}
    .catalog__item h3 {text-transform: uppercase;font-size: 8px;margin-bottom: 30px;}
    .catalog__item-desc {padding: 5px;font-size: 10px;line-height: 10px;}
}
@media (max-width: 767px) {
    .second__container {
        display: block;
        width: 100%;
        bottom: 50px;
        top: auto;
        left: 0%;
        transform: translate(0%, 15%);
    }
    .catalog__item {width: 100%;margin: 0 auto;}
    .catalog__item h2 {font-size: 20px;}
    .catalog__item h3 {font-size: 12px; margin-bottom: 20px;}
    .second__container .slick-track{display: flex;}
    .catalog__item img:nth-child(1) {width: 250px; margin-bottom: 20px;}
    .catalog__item-desc {padding: 5px;font-size: 13px;line-height: 12px;margin-top: 20px;}
}
@media (max-width: 767px) and (max-height: 650px) {
    .catalog__item img:nth-child(1) {width: 200px; margin-bottom: 0px;}
    .second__container {transform: translate(0%, 25%);}
    .catalog__item-desc {margin-top: 5px;}
    .catalog__item h3 {font-size: 12px; margin-bottom: 5px;}
}





.third__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    width: 1160px;

}
.thirdleft__block {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 86px 74px;
    flex: 0 0 33.333%;
}
.thirdright__block {
    padding: 55px;
    background-color: #1E1417;
    color: white;
    flex: 0 0 66.666%;
}
.thirdright__block p {
    margin-bottom: 15px;
    font-size: 18px;
}
.thirdright__block p:last-child {
    margin-bottom: 0px;
}
@media (max-width: 1250px) {
    .third__container {margin: 0 auto;width: 95%;}
    .thirdleft__block {padding: 46px 44px; display: flex; align-items: center;}
    .thirdright__block {padding: 35px;}
    .thirdleft__block img {max-width: 100%;height: auto;}
    .thirdright__block p {margin-bottom: 15px;font-size: 15px;}
}

@media (max-width: 767px) {
    .third__container {display: block; width: 85%;}
    .thirdleft__block {padding: 26px 44px;justify-content: center;}
    .thirdright__block {padding: 15px;}
}





.fourty__container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 20%;
}
.slider {
    position: absolute;
    margin: 0 auto;
    bottom: 50px;
    width: 1000px;
    left: 50%;
    transform: translate(-50%, 0);
}
.slider-item {
    padding: 50px;
    margin: 0 20px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    transition: all 1s;
}
.slider-item h3 {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 100;
}

.slider .slick-list {overflow: hidden;}
.slider .slick-track{display: flex;}
.slider .slick-slide.slick-center{background-color: #1A171B;}
.slider .slick-arrow {
    position: absolute;
    z-index: 10;
    width: 71px;
    height: 71px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 0;
    cursor: pointer;
    z-index: 1;
    display: block;
}
.slider .slick-arrow:hover {opacity: 0.8;}

.slider .slick-arrow.slick-prev{
    left: -100px;
    background: url('../images/fourty-slide/left.png')  no-repeat;
}
.slider .slick-arrow.slick-next{
    right: -100px;
    background: url('../images/fourty-slide/right.png')  no-repeat;
}
@media (max-width: 1200px) {
    .slider {width: 600px; bottom: 50px;}
    .slider-item {padding: 30px;border-radius: 20px;}
    .slider-item img {width: 40px;height: auto;}
    .slider-item h3 {font-size: 15px;}
    .slider .slick-arrow.slick-prev{left: -75px;}
    .slider .slick-arrow.slick-next{right: -75px;}
}
@media (max-width: 992px) and (min-height: 650px) {
    .slider {width: 600px; bottom: 150px;}
}
@media (max-width: 767px) {
    .slider {width: 100%; bottom: 150px;}
    .slider .slick-arrow {top: 140%;}
    .slider .slick-arrow.slick-prev{left: 20%;}
    .slider .slick-arrow.slick-next{right: 20%;}
    .slider .slick-slide {width: 100%;}
    .slider-item {
        padding: 15px;
        margin: 0px;
        width: 100%;
        border-radius: 10px;
    }
    .slider-item h3 {font-size: 17px;}
}
@media (max-width: 767px) and (max-height: 600px) {
    .fourty__container img {width: 150px;height: auto;}
    .fourty__container {top: 10%;}
}